body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    margin-top: 150px;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
    pointer-events: none;
  }
  
  .flex {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }

  

.sun {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 80px 10px rgba(255, 81, 0, 0.815);
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  z-index: 10;
}

.sun:hover {
  transform: scale(1.1);
  box-shadow: 0 0 90px 12px rgba(255, 81, 0, 1);
}

.orbit {
  position: absolute;
  border: 1px solid rgba(77, 76, 76, 0.3);
  border-radius: 50%;
  animation: orbit linear infinite;
  transform-origin: center;
}

.planet-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.5s ease-out;
}
.planet-icon:hover {
    transform: translate(-50%, -50%) scale(1.2);
}


/* Orbit sizes and animation durations */
.neptune {
  width: 1100px;
  height: 1100px;
  animation-duration: 6838.8s;
}
.uranus {
  width: 1000px;
  height: 1000px;
  animation-duration: 3487.2s;
}
.saturn {
  width: 900px;
  height: 900px;
  animation-duration: 1222.6s;
}
.jupiter {
  width: 800px;
  height: 800px;
  animation-duration: 492.4s;
}
.mars {
  width: 700px;
  height: 700px;
  animation-duration: 78.06s;
}
.earth {
  width: 600px;
  height: 600px;
  animation-duration: 41.48s;
}
.venus {
  width: 500px;
  height: 500px;
  animation-duration: 25.56s;
}
.mercury {
  width: 350px;
  height: 350px;
  animation-duration: 10s;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
