body {
  background: radial-gradient(circle, #000000 30%, #1a1a1a 100%);
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  margin: 100px;
}

.flex {
  position: relative;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 80px 10px rgba(255, 81, 0, 0.815);
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  z-index: 10;
}

.sun:hover {
  transform: scale(1.1);
  box-shadow: 0 0 90px 12px rgba(255, 81, 0, 1);
}



.orbit {
  position: absolute;
  border: 1px solid rgba(109, 106, 106, 0.3);
  border-radius: 50%;
  animation: orbit linear infinite;
  transform-origin: center;
}

.planet-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  object-fit: contain;
  transition: transform 0.5s ease-out;
}
.planet-icon:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }


/* Orbit sizes and animation durations */
.neptune {
  width: 1750px;
  height: 1750px;
  animation-duration: 6838.8s;
}
.uranus {
  width: 1550px;
  height: 1550px;
  animation-duration: 3487.2s;
}
.saturn {
  width: 1350px;
  height: 1350px;
  animation-duration: 1222.6s;
}
.jupiter {
  width: 1150px;
  height: 1150px;
  animation-duration: 492.4s;
}
.mars {
  width: 950px;
  height: 950px;
  animation-duration: 78.06s;
}
.earth {
  width: 750px;
  height: 750px;
  animation-duration: 41.48s;
}
.venus {
  width: 550px;
  height: 550px;
  animation-duration: 25.56s;
}
.mercury {
  width: 350px;
  height: 350px;
  animation-duration: 10s;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
